#main-app{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#file-upload{
  margin-left: 80px;
}
.code{
  background: beige;
}
.main-app-header{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow:  5px 5px 20px #c7c7c7,
               -5px -5px 20px #f9f9f9;
}